@use "../base-breakpoints" as breakpoints;

.banner {
  display: flex;
  gap: var(--hrb-banner-gap);
  flex-direction: var(--hrb-banner-flex-direction, column);
  align-items: center;
  text-align: center;
  padding-block: var(--hrb-banner-padding-block);
  padding-inline: var(--hrb-banner-padding-inline);

  &__content {
    display: grid;
    gap: 10px;
  }

  &__title {
    font-size: var(--hrb-banner-title-font-size, 36px);
    color: var(--hrb-text-title);
  }

  &__title-text {
    font-size: var(--hrb-banner-title-text-font-size, 20px);
  }

  &__text {
    font-size: var(--hrb-banner-text-font-size, 16px);
  }

  @include breakpoints.tab-s {
    --hrb-banner-title-font-size: 46px;
    --hrb-banner-title-text-font-size: 24px;
    --hrb-banner-text-font-size: 18px;
  }
}
