@use "./base-mixins" as mixins;

.button {
  font-size: 18px;
  border-radius: 30px;
  border: 1px solid var(--hrb-border-button-color);
  text-decoration: none;

  &__primary {
    max-width: 180px;
    color: var(--hrb-text-link-light);
    background-color: var(--hrb-button-primary);
    transition: border-color var(--hrb-transition-time) ease-in-out,
      color var(--hrb-transition-time) ease-in-out,
      background-color var(--hrb-transition-time) ease-in-out;

    @include mixins.hover {
      color: var(--hrb-button-primary-hover);
      background-color: transparent;
      border-color: var(--hrb-button-primary-hover);
    }
  }

  &__outline {
    color: var(--hrb-button-primary);
  }

  &--l {
    padding: 15px 30px;
  }

  &--s {
    padding: 10px 20px;
  }
}
