:root {
  // raw palette
  --hrb-black: 0 0 0; // #000
  --hrb-white: 255 255 255; // #fff

  // sample colors

  --hrb-sample-100: rgb(236, 233, 230);
  --hrb-sample-150: rgb(245, 244, 242);
  --hrb-sample-200: rgb(108, 117, 125);
  --hrb-sample-300: rgb(57, 57, 68);
  --hrb-sample-400: rgb(40, 112, 148);
  --hrb-sample-500: rgb(210, 82, 53);

  // brand colors

  --hrb-brand-100: 236 233 230; // #ece9e6
  --hrb-brand-150: 245 244 242; // #dad7d4
  --hrb-brand-200: 108 117 125; // #6c757d
  --hrb-brand-300: 57 57 68; // #393944
  --hrb-brand-blue: 40 112 148; // #287094
  --hrb-brand-red: 210 82 53; // #d25235

  // semantics

  // text
  --hrb-text-primary: rgb(var(--hrb-brand-300));
  --hrb-text-secondary: rgb(var(--hrb-brand-200));
  --hrb-text-title: rgb(var(--hrb-brand-blue));
  --hrb-text-link-light: rgb(var(--hrb-brand-100));

  // buttons
  --hrb-button-primary: rgb(var(--hrb-brand-red));
  --hrb-button-primary-hover: rgb(var(--hrb-brand-300));

  // borders
  --hrb-border-primary-color: rgb(var(--hrb-brand-300));
  --hrb-border-button-color: rgb(var(--hrb-brand-red));

  // shadows

  --hrb-card-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);

  // backgrounds

  --hrb-background-dark: rgb(var(--hrb-brand-300));
  --hrb-background-light: rgb(var(--hrb-brand-150));

  // gradients
  --hrb-background-gradient: linear-gradient(to right, #22c0c32e, #fdbb2d3d);
}
