@use "../../../../styles/base-mixins" as mixins;

.footer {
  display: grid;
  gap: 20px;
  justify-items: center;
  margin: 0 auto;
  padding-block: 20px;
  text-align: center;

  &__button {
    width: fit-content;
    padding: 5px 12px;
    text-decoration: none;
    color: var(--hrb-text-title);
    border-radius: 20px;
    border: 1px solid transparent;
    transition: color var(--hrb-transition-time) ease-in-out,
      border-color var(--hrb-transition-time) ease-in-out;

    @include mixins.hover {
      color: var(--hrb-text-primary);
      border-color: var(--hrb-button-hover);
    }
  }

  &__license-link {
    color: var(--hrb-text-title);
  }
}
