@use "../../../styles/base-mixins" as mixins;

.media-list {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: var(--hrb-background-light);
    transition: border-color var(--hrb-transition-time) ease-in-out,
      background-color var(--hrb-transition-time) ease-in-out;

    @include mixins.hover {
      border-color: var(--hrb-button-primary-hover);
      background-color: rgb(var(--hrb-white));
    }
  }

  &__link {
    color: var(--hrb-text-primary);
  }
}
