@use "../../../styles/base-breakpoints" as breakpoints;

.main-banner {
  --hrb-banner-gap: 30px;
  --hrb-banner-padding-block: 60px;
  --hrb-banner-padding-inline: 20px;

  background: var(--hrb-background-gradient);
}
