.sidebar-menu {
  position: relative;
  height: 100vh;
  padding-block: 20px;
  padding-inline: 20px 60px;
  border-top: 3px solid rgb(var(--stb-brand-200));
  border-right: 3px solid rgb(var(--stb-brand-200));
  border-top-right-radius: 6px;
  background-color: var(--stb-text-primary);

  &__list {
    list-style: none;
  }

  &__link {
    display: block;
    padding-inline: 10px;
    padding-block: 10px;
    color: var(--stb-text-link-light);
    text-decoration: none;
    border-block: 1px solid transparent;
    transition: color 0.5s ease-out;

    &:hover {
      color: rgb(var(--stb-brand-red));
    }
  }

  &__link.active {
    border-block: 1px solid rgb(var(--stb-brand-red));
  }
}

.button-close {
  position: absolute;
  top: 30px;
  right: 20px;
  display: block;
  font-size: 20px;
  color: var(--stb-text-link-light);
  border: none;
  background-color: inherit;
  cursor: pointer;
}
