<header class="header">
  <a class="logo">
    <!-- <img
      src="assets/harbour-logo.png"
      alt="logo"
      width="64"
      height="64"
      class="logo__imgage"
    /> -->
    <p class="logo__text">AnnaS</p>
  </a>

  <nav class="navigation">
    <ul class="navigation__list">
      <li class="navigation__item">
        <a class="navigation__link" href="">Home</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" href="">About</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" href="">Projects</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" href="">Contact</a>
      </li>
    </ul>
  </nav>
</header>
