/* You can add global styles to this file, and also import other style files */
@use "./styles/base-mixins" as mixins;
@use "./styles/base-variables" as variables;
@use "./styles/variables/pallette";
@use "./styles/variables/global-variables";
@use "./styles/variables/fonts";
@use "./styles/typography";
@use "./styles/utils";
@use "./styles/buttons";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  min-width: variables.$screen-mob-s;
  font-family: var(--stb-font-family-default);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  background-color: rgb(var(--stb-white));
}

body {
  max-width: 1960px;
  margin: 0 auto;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
