.cta-banner {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 30px 40px;
  background-color: var(--stb-background-light);
  border-radius: 10px;

  &__content {
    display: grid;
    gap: 10px;
  }

  &__title {
    font-size: 36px;
    color: var(--stb-text-title);
  }
}
