@use "../../../styles/base-breakpoints" as breakpoints;

.cta-banner {
  background-color: var(--hrb-background-light);
  border-radius: 10px;
  gap: 10px;

  @include breakpoints.tab-s {
    flex-direction: row;
    justify-content: space-between;
  }

  &__title {
    font-size: 24px;
  }
}
