@use "../../../styles/base-mixins" as mixins;

:host {
  width: 100%;
}

.navigation {
  &__list {
    display: flex;
    gap: 60px;
    justify-content: flex-end;
    list-style: none;
  }

  &__item {
    padding-block: 10px;
  }

  &__link {
    display: block;
    color: var(--hrb-text-primary);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: color var(--hrb-transition-time) ease-out;

    @include mixins.hover {
      color: rgb(var(--hrb-brand-red));
    }
  }

  &__link.active {
    border-bottom: 1px solid rgb(var(--hrb-brand-red));
  }
}
